<html>
    <head>
        <link rel="stylesheet" href="/public/css/style.css"> 
        <title>Node API</title>
    </head>
    <body>
        <h1>Server is up & running</h1>
        <div class="card-primary font-size-12px">
            This is the first card
        </div>
        <div class="card-secondary font-size-14px">
            This is the second card
        </div>
        <div class="card-tertiary font-size-24px">
            This is the tertiary card
        </div>
    </body>
</html>